Repository seungwonme/nextjs-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck, prevent-env, trailing-whitespace

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit
  stage_fixed: false

prevent-env:
  run: 'echo -e "\033[31mERROR: .env 파일은 커밋할 수 없습니다. .env.example 파일을 사용하세요.\033[0m"
  
    exit 1
  
    '

trailing-whitespace:
  run: "for file in {staged_files}; do\n  sed -i '' 's/[[:space:]]*$//' \"$file\"\ndone\n"
  stage_fixed: true

docs: update CONVENTION.md
  .github/CONVENTION.md
Due: trailing-whitespace

fix: sign-up process redirect
  src/features/auth/api/actions.ts
Due: biome-check, typecheck, trailing-whitespace

feat: update package.json with new dependencies
  package.json
Due: biome-check, trailing-whitespace

chore: update MCP configuration
  .mcp.json
Due: biome-check, trailing-whitespace

fix: align Neon Auth implementation with documentation
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/account/[path]/page.tsx
  app/api/auth/[...path]/route.ts
  app/auth/[path]/page.tsx
  app/globals.css
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  middleware.ts
  package.json
  src/features/auth/ui/auth-provider.tsx
  src/pages/home/ui/home-page.tsx
  src/shared/lib/auth-client.ts
  src/shared/lib/auth-server.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

feat(api): add file management API endpoints
  app/api/files/[...key]/route.ts
  app/api/files/route.ts
  app/api/upload/route.ts
Due: biome-check, typecheck, trailing-whitespace

feat: migrate from Better Auth to Neon Auth
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/account/[pathname]/page.tsx
  app/api/auth/[...all]/route.ts
  app/api/me/route.ts
  app/api/upload/route.ts
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  middleware.ts
  package.json
  src/features/auth/ui/auth-provider.tsx
  src/pages/home/ui/home-page.tsx
  src/shared/lib/auth-client.ts
  src/shared/lib/auth-server.ts
  src/shared/lib/auth.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

feat(upload): add file upload feature with drag-and-drop
  src/features/upload/hooks/use-file-upload.ts
  src/features/upload/index.ts
  src/features/upload/ui/file-preview.tsx
  src/features/upload/ui/file-upload.tsx
Due: biome-check, typecheck, trailing-whitespace

docs: separate Neon Auth and Cloudflare R2 documentation
  docs/CLOUDFLARE_R2_SETUP.md
  docs/NEON_AUTH_SETUP.md
Due: trailing-whitespace

feat: integrate Neon DB, Better Auth, and Cloudflare R2
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/api/auth/[...all]/route.ts
  app/api/upload/route.ts
  app/layout.tsx
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  drizzle.config.ts
  middleware.ts
  package.json
  src/app/providers.tsx
  src/entities/user/index.ts
  src/entities/user/model/schema.ts
  src/features/auth/index.ts
  src/features/auth/ui/auth-provider.tsx
  src/shared/api/db.ts
  src/shared/api/storage.ts
  src/shared/lib/auth-client.ts
  src/shared/lib/auth.ts
Due: biome-check, typecheck, trailing-whitespace

feat(db): add files table schema for R2 metadata storage
  drizzle.config.ts
  drizzle/0000_fast_toad_men.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  src/entities/file/index.ts
  src/entities/file/model/schema.ts
  src/shared/api/db.ts
Due: biome-check, typecheck, trailing-whitespace

feat(dashboard): add file management dashboard page
  app/dashboard/page.tsx
  src/pages/dashboard/index.ts
  src/pages/dashboard/ui/dashboard-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add Supabase configuration and initial migration
  .env.example
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20251214214305_init_auth_and_storage.sql
Due: biome-check, trailing-whitespace

feat: add authentication routes
  app/auth/confirm/route.ts
  app/auth/error/page.tsx
  app/auth/forgot-password/page.tsx
  app/auth/login/page.tsx
  app/auth/sign-up-success/page.tsx
  app/auth/sign-up/page.tsx
  app/auth/update-password/page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add Supabase client utilities and middleware
  middleware.ts
  src/shared/api/supabase/client.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/middleware.ts
  src/shared/api/supabase/server.ts
  src/shared/api/supabase/types.ts
  src/shared/lib/dal.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

chore: update configuration files
  .mcp.json
  biome.json
  components.json
Due: biome-check, trailing-whitespace

feat: update home page
  src/pages/home/ui/home-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: implement user entity
  src/entities/user/api/profile.ts
  src/entities/user/index.ts
  src/entities/user/model/types.ts
  src/entities/user/ui/user-avatar.tsx
Due: biome-check, typecheck, trailing-whitespace

docs: update documentation
  AGENTS.md
  docs/SUPABASE_INTEGRATION.md
Due: trailing-whitespace

feat: add authentication pages
  src/pages/auth/error/index.ts
  src/pages/auth/error/ui/error-page.tsx
  src/pages/auth/forgot-password/index.ts
  src/pages/auth/forgot-password/ui/forgot-password-page.tsx
  src/pages/auth/login/index.ts
  src/pages/auth/login/ui/login-page.tsx
  src/pages/auth/sign-up-success/index.ts
  src/pages/auth/sign-up-success/ui/sign-up-success-page.tsx
  src/pages/auth/sign-up/index.ts
  src/pages/auth/sign-up/ui/sign-up-page.tsx
  src/pages/auth/update-password/index.ts
  src/pages/auth/update-password/ui/update-password-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: implement authentication features
  src/features/auth/api/actions.ts
  src/features/auth/index.ts
  src/features/auth/model/schemas.ts
  src/features/auth/ui/index.ts
  src/features/auth/ui/sign-in-form.tsx
  src/features/auth/ui/sign-out-button.tsx
  src/features/auth/ui/sign-up-form.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: implement avatar upload feature
  src/features/upload-avatar/api/actions.ts
  src/features/upload-avatar/index.ts
  src/features/upload-avatar/ui/avatar-upload.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add protected page
  app/protected/page.tsx
  src/pages/protected/index.ts
  src/pages/protected/ui/protected-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add ErrorBoundary component
  src/shared/ui/error-boundary.tsx
  src/shared/ui/index.ts
Due: biome-check, typecheck, trailing-whitespace

chore: update supabase dependencies
  package.json
Due: biome-check, trailing-whitespace

refactor: rename middleware to proxy
  proxy.ts
Due: biome-check, typecheck, trailing-whitespace

docs: update supabase skills
  .claude/skills/supabase-dev/SKILL.md
  .claude/skills/supabase-dev/references/bootstrap-auth.md
Due: trailing-whitespace

chore: update Next.js to 16.2.1 and add boilerplate-update skill
  .claude/skills/boilerplate-update/SKILL.md
  .gitignore
  .npmrc
  package.json
Due: biome-check, trailing-whitespace

docs(skill): update boilerplate-update with verified pnpm + npx flow
  .claude/skills/boilerplate-update/SKILL.md
Due: trailing-whitespace

chore: upgrade Next.js to 16.2.6 / React 19.2.6
  package.json
  pnpm-workspace.yaml
Due: biome-check, trailing-whitespace

chore: update boilerplate dependencies
  .claude/skills/agent-council/package.json
  .node-version
  biome.json
  package.json
  pnpm-workspace.yaml
Due: biome-check, trailing-whitespace

chore: update Biome to 2.5.8
  biome.json
  package.json
Due: biome-check, trailing-whitespace

chore: upgrade branch dependencies
  package.json
Due: biome-check, trailing-whitespace

chore: migrate Neon Auth and UI dependencies
  .env.example
  app/api/auth/[...path]/route.ts
  app/api/files/[...key]/route.ts
  app/api/files/route.ts
  app/dashboard/page.tsx
  middleware.ts
  src/shared/api/db.ts
  src/shared/api/index.ts
  src/shared/lib/auth-server.ts
  src/shared/ui/calendar.tsx
  src/shared/ui/chart.tsx
  src/shared/ui/resizable.tsx
Due: biome-check, typecheck, trailing-whitespace

fix(ui): support vertical resizable panels
  src/shared/ui/resizable.tsx
Due: biome-check, typecheck, trailing-whitespace

fix(neon): complete auth and UI migrations
  docs/NEON_AUTH_SETUP.md
  proxy.ts
  src/shared/ui/resizable.tsx
Due: biome-check, typecheck, trailing-whitespace

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  prevent-env: any of: .env*, but not: .env.example
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,json,jsonc,md,yml,yaml}
