Repository seungwonme/nextjs-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck, prevent-env, trailing-whitespace

lefthook.yml:

# https://lefthook.dev/
# lefthook install

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,jsx,ts,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit
      stage_fixed: false

    # .env 파일 커밋 방지
    prevent-env:
      glob: ".env*"
      exclude: ".env.example"
      run: |
        echo -e "\033[31mERROR: .env 파일은 커밋할 수 없습니다. .env.example 파일을 사용하세요.\033[0m"
        exit 1

    # 후행 공백 제거
    trailing-whitespace:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,md,yml,yaml}"
      run: |
        for file in {staged_files}; do
          sed -i '' 's/[[:space:]]*$//' "$file"
        done
      stage_fixed: true

    # 병합 충돌 검사
    check-merge-conflict:
      run: |
        if git diff --cached --name-only | xargs grep -l -E "^(<<<<<<<|=======|>>>>>>>)" 2>/dev/null; then
          echo -e "\033[31mERROR: 병합 충돌 마커가 포함된 파일이 있습니다.\033[0m"
          exit 1
        fi

    # 민감한 개인키 검출
    detect-private-key:
      run: |
        PRIVATE_KEY_PATTERN="-----BEGIN (RSA|DSA|EC|OPENSSH|PGP) PRIVATE KEY-----"
        if git diff --cached --name-only | xargs grep -l -E "$PRIVATE_KEY_PATTERN" 2>/dev/null; then
          echo -e "\033[31mERROR: 민감한 개인키가 포함된 파일이 있습니다.\033[0m"
          exit 1
        fi

chore: add steiger and next-themes dependencies
  package.json
Due: biome-check, trailing-whitespace

docs: update conventions and add boilerplate report
  .github/CONVENTION.md
  AGENTS.md
  docs/BOILERPLATE_REPORT.md
Due: trailing-whitespace

chore: add FSD structure gitkeep files
  src/app/.gitkeep
  src/entities/.gitkeep
  src/features/.gitkeep
  src/shared/api/.gitkeep
  src/shared/config/.gitkeep
  src/shared/model/.gitkeep
  src/widgets/.gitkeep
Due: none

chore: configure shadcn/ui with FSD paths
  app/globals.css
  biome.json
  components.json
  package.json
Due: biome-check, trailing-whitespace

feat: add shared lib utilities
  src/shared/lib/index.ts
  src/shared/lib/utils.ts
Due: biome-check, typecheck, trailing-whitespace

feat: add shared hooks
  src/shared/hooks/index.ts
  src/shared/hooks/use-mobile.ts
Due: biome-check, typecheck, trailing-whitespace

docs: update documentation with tooling guides and reproducible setup steps
  .claude/skills/nextjs-fullstack/references/nextjs-convention.md
  .cursor/rules/web/nextjs-convention.mdc
  AGENTS.md
  docs/BOILERPLATE_REPORT.md
Due: trailing-whitespace

docs(prompt-principles): add prompt principles documentation
  docs/PROMPT_PRINCIPLES.md
Due: trailing-whitespace

feat(seo): add robots.ts, sitemap.ts, JSON-LD utilities
  app/robots.ts
  app/sitemap.ts
  src/shared/lib/index.ts
  src/shared/lib/json-ld.tsx
Due: biome-check, typecheck, trailing-whitespace

feat(pwa): add manifest and app icons
  app/manifest.ts
  public/192x192.png
  public/512x512.png
Due: biome-check, typecheck, trailing-whitespace

feat(seo): add Open Graph image
  public/og-image.png
Due: none

feat(seo): enhance layout metadata configuration
  app/layout.tsx
Due: biome-check, typecheck, trailing-whitespace

chore: add .env.example with site URL configuration
  .env.example
Due: none

chore: remove default Next.js placeholder SVGs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

docs: update AGENTS.md and BOILERPLATE_REPORT.md
  AGENTS.md
  docs/BOILERPLATE_REPORT.md
Due: trailing-whitespace

chore: update package.json
  package.json
Due: biome-check, trailing-whitespace

docs: add document sync principle and update configs
  .env.example
  docs/PROMPT_PRINCIPLES.md
Due: trailing-whitespace

feat: integrate Neon DB, Better Auth, and Cloudflare R2
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/api/auth/[...all]/route.ts
  app/api/upload/route.ts
  app/layout.tsx
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  drizzle.config.ts
  middleware.ts
  package.json
  src/app/providers.tsx
  src/entities/user/index.ts
  src/entities/user/model/schema.ts
  src/features/auth/index.ts
  src/features/auth/ui/auth-provider.tsx
  src/shared/api/db.ts
  src/shared/api/storage.ts
  src/shared/lib/auth-client.ts
  src/shared/lib/auth.ts
Due: biome-check, typecheck, trailing-whitespace

feat: migrate from Better Auth to Neon Auth
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/account/[pathname]/page.tsx
  app/api/auth/[...all]/route.ts
  app/api/me/route.ts
  app/api/upload/route.ts
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  middleware.ts
  package.json
  src/features/auth/ui/auth-provider.tsx
  src/pages/home/ui/home-page.tsx
  src/shared/lib/auth-client.ts
  src/shared/lib/auth-server.ts
  src/shared/lib/auth.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

fix: align Neon Auth implementation with documentation
  .env.example
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/account/[path]/page.tsx
  app/api/auth/[...path]/route.ts
  app/auth/[path]/page.tsx
  app/globals.css
  docs/NEON_BETTER_AUTH_R2_SETUP.md
  middleware.ts
  package.json
  src/features/auth/ui/auth-provider.tsx
  src/pages/home/ui/home-page.tsx
  src/shared/lib/auth-client.ts
  src/shared/lib/auth-server.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

feat(upload): add file upload feature with drag-and-drop
  src/features/upload/hooks/use-file-upload.ts
  src/features/upload/index.ts
  src/features/upload/ui/file-preview.tsx
  src/features/upload/ui/file-upload.tsx
Due: biome-check, typecheck, trailing-whitespace

feat(db): add files table schema for R2 metadata storage
  drizzle.config.ts
  drizzle/0000_fast_toad_men.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  src/entities/file/index.ts
  src/entities/file/model/schema.ts
  src/shared/api/db.ts
Due: biome-check, typecheck, trailing-whitespace

feat(api): add file management API endpoints
  app/api/files/[...key]/route.ts
  app/api/files/route.ts
  app/api/upload/route.ts
Due: biome-check, typecheck, trailing-whitespace

feat(dashboard): add file management dashboard page
  app/dashboard/page.tsx
  src/pages/dashboard/index.ts
  src/pages/dashboard/ui/dashboard-page.tsx
Due: biome-check, typecheck, trailing-whitespace

docs: separate Neon Auth and Cloudflare R2 documentation
  docs/CLOUDFLARE_R2_SETUP.md
  docs/NEON_AUTH_SETUP.md
Due: trailing-whitespace

chore: update MCP configuration
  .mcp.json
Due: biome-check, trailing-whitespace

feat: update icon images and manifest
  public/icon-192.png
  public/icon-512.png
Due: none

feat: add Supabase configuration and initial migration
  .env.example
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20251214214305_init_auth_and_storage.sql
Due: biome-check, trailing-whitespace

feat: add Supabase client utilities and middleware
  middleware.ts
  src/shared/api/supabase/client.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/middleware.ts
  src/shared/api/supabase/server.ts
  src/shared/api/supabase/types.ts
  src/shared/lib/dal.ts
  src/shared/lib/index.ts
Due: biome-check, typecheck, trailing-whitespace

feat: add ErrorBoundary component
  src/shared/ui/error-boundary.tsx
  src/shared/ui/index.ts
Due: biome-check, typecheck, trailing-whitespace

feat: implement authentication features
  src/features/auth/api/actions.ts
  src/features/auth/index.ts
  src/features/auth/model/schemas.ts
  src/features/auth/ui/index.ts
  src/features/auth/ui/sign-in-form.tsx
  src/features/auth/ui/sign-out-button.tsx
  src/features/auth/ui/sign-up-form.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: implement user entity
  src/entities/user/api/profile.ts
  src/entities/user/index.ts
  src/entities/user/model/types.ts
  src/entities/user/ui/user-avatar.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: implement avatar upload feature
  src/features/upload-avatar/api/actions.ts
  src/features/upload-avatar/index.ts
  src/features/upload-avatar/ui/avatar-upload.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add authentication pages
  src/pages/auth/error/index.ts
  src/pages/auth/error/ui/error-page.tsx
  src/pages/auth/forgot-password/index.ts
  src/pages/auth/forgot-password/ui/forgot-password-page.tsx
  src/pages/auth/login/index.ts
  src/pages/auth/login/ui/login-page.tsx
  src/pages/auth/sign-up-success/index.ts
  src/pages/auth/sign-up-success/ui/sign-up-success-page.tsx
  src/pages/auth/sign-up/index.ts
  src/pages/auth/sign-up/ui/sign-up-page.tsx
  src/pages/auth/update-password/index.ts
  src/pages/auth/update-password/ui/update-password-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add authentication routes
  app/auth/confirm/route.ts
  app/auth/error/page.tsx
  app/auth/forgot-password/page.tsx
  app/auth/login/page.tsx
  app/auth/sign-up-success/page.tsx
  app/auth/sign-up/page.tsx
  app/auth/update-password/page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: add protected page
  app/protected/page.tsx
  src/pages/protected/index.ts
  src/pages/protected/ui/protected-page.tsx
Due: biome-check, typecheck, trailing-whitespace

feat: update home page
  src/pages/home/ui/home-page.tsx
Due: biome-check, typecheck, trailing-whitespace

chore: update configuration files
  .mcp.json
  biome.json
  components.json
Due: biome-check, trailing-whitespace

docs: update documentation
  AGENTS.md
  docs/SUPABASE_INTEGRATION.md
Due: trailing-whitespace
