Repository seungwonme/nextjs-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck, prevent-env, trailing-whitespace

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit
  stage_fixed: false

prevent-env:
  run: 'echo -e "\033[31mERROR: .env 파일은 커밋할 수 없습니다. .env.example 파일을 사용하세요.\033[0m"
  
    exit 1
  
    '

trailing-whitespace:
  run: "for file in {staged_files}; do\n  sed -i '' 's/[[:space:]]*$//' \"$file\"\ndone\n"
  stage_fixed: true

fix(security): remove unused JSON-LD helpers
  package.json
  src/shared/lib/index.ts
  src/shared/lib/json-ld.tsx
Due: biome-check, typecheck, trailing-whitespace

chore(github): remove repository-specific automation
  .github/ISSUE_TEMPLATE/feature_issue.yml
  .github/ISSUE_TEMPLATE/fix_issue.yml
  .github/ISSUE_TEMPLATE/refactor_issue.yml
  .github/auto_assign.yml
  .github/labels.json
  .github/workflows/auto-assign-pr-creator.yml
  .github/workflows/auto-assign-reviewers.yml
Due: biome-check, trailing-whitespace

chore(github): use portable issue labels
  .github/ISSUE_TEMPLATE/feature_issue.yml
  .github/ISSUE_TEMPLATE/fix_issue.yml
Due: trailing-whitespace

chore(tooling): pin strict reproducible toolchain
  lefthook.yml
  package.json
  pnpm-lock.yaml
  steiger.config.mjs
  tsconfig.json
Due: biome-check, trailing-whitespace

fix(seo): require a public production origin
  .env.example
  app/layout.tsx
  app/sitemap.ts
  package.json
  src/shared/config/env.ts
  src/shared/config/site.ts
  tests/site-url.test.mjs
Due: biome-check, typecheck, trailing-whitespace

fix(a11y): announce theme toggle state
  src/shared/ui/theme-state.ts
  src/shared/ui/theme-toggle.tsx
  tests/theme-state.test.mjs
Due: biome-check, typecheck, trailing-whitespace

style(config): organize public exports
  src/shared/config/index.ts
Due: biome-check, typecheck, trailing-whitespace

docs: align the starter contract with shipped code
  .github/CONVENTION.md
  AGENTS.md
  README.md
  docs/BOILERPLATE_REPORT.md
Due: trailing-whitespace

ci: verify every template branch
  .github/workflows/ci.yml
Due: trailing-whitespace

fix(ci): enforce the dependency age policy locally
  .npmrc
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check, trailing-whitespace

fix(auth): secure redirects and preserve refreshed cookies
  app/auth/confirm/route.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/middleware.ts
  src/shared/api/supabase/response.ts
  tests/supabase-response.test.mjs
Due: biome-check, typecheck, trailing-whitespace

fix(auth): protect only explicit routes
  proxy.ts
  src/shared/api/index.ts
  src/shared/api/supabase/middleware.ts
  tests/proxy-route.test.mjs
Due: biome-check, typecheck, trailing-whitespace

refactor(supabase): remove unused product demos
  app/auth/confirm/route.ts
  app/auth/forgot-password/page.tsx
  app/auth/update-password/page.tsx
  src/entities/user/api/profile.ts
  src/entities/user/index.ts
  src/entities/user/model/types.ts
  src/entities/user/ui/user-avatar.tsx
  src/features/auth/api/actions.ts
  src/features/upload-avatar/api/actions.ts
  src/features/upload-avatar/index.ts
  src/features/upload-avatar/ui/avatar-upload.tsx
  src/pages/auth/forgot-password/index.ts
  src/pages/auth/forgot-password/ui/forgot-password-page.tsx
  src/pages/auth/update-password/index.ts
  src/pages/auth/update-password/ui/update-password-page.tsx
  src/pages/home/ui/home-page.tsx
  src/shared/api/index.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/types.ts
  src/shared/lib/dal.ts
  supabase/migrations/20251214214305_init_auth_and_storage.sql
Due: biome-check, typecheck, trailing-whitespace

fix(auth): align email confirmation contract
  .env.example
  AGENTS.md
  app/auth/confirm/route.ts
  docs/SUPABASE_INTEGRATION.md
  src/features/auth/api/actions.ts
  src/features/auth/model/schemas.ts
  src/features/auth/ui/sign-up-form.tsx
  src/shared/api/index.ts
  src/shared/api/supabase/client.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/middleware.ts
  src/shared/api/supabase/response.ts
  src/shared/api/supabase/server.ts
  src/shared/api/supabase/types.ts
  supabase/config.toml
  supabase/templates/confirmation.html
  supabase/templates/magic-link.html
  tests/supabase-response.test.mjs
Due: biome-check, typecheck, trailing-whitespace

chore(supabase): use current local SMTP config
  supabase/config.toml
Due: none

fix(ci): use the newest eligible Supabase release
  package.json
  pnpm-lock.yaml
Due: biome-check, trailing-whitespace

fix(supabase): close final auth review gaps
  app/auth/confirm/route.ts
  biome.json
  src/features/auth/api/actions.ts
  src/features/auth/index.ts
  src/features/auth/ui/sign-in-form.tsx
  src/features/auth/ui/sign-out-button.tsx
  src/features/auth/ui/sign-up-form.tsx
  src/shared/api/index.ts
  src/shared/api/supabase/client.ts
  src/shared/api/supabase/confirm.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/middleware.ts
  src/shared/api/supabase/server.ts
  src/shared/config/env.ts
  src/shared/config/index.ts
  src/shared/config/site.ts
  src/shared/lib/dal.ts
  src/shared/lib/index.ts
  src/shared/ui/card.tsx
  tests/site-url.test.mjs
  tests/supabase-response.test.mjs
  tsconfig.json
Due: biome-check, typecheck, trailing-whitespace

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  prevent-env: any of: .env*, but not: .env.example
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,json,jsonc,md,yml,yaml}
